/* .socials-wrapper {
  position: relative;
} */

.socials-menu {
  opacity: 0;
  transition: opacity 0.5s;
}

.active > .socials-menu {
  opacity: 1;
}

.share-button {
  position: relative;
  border: none;
  cursor: pointer;
  /* z-index: 2; */
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  /* background-color: yellow; */
  border-radius: 50%;
  outline: 1px solid black;
  outline-offset: 3px;
}

.share-button svg {
  height: 32px;
  width: 32px;
}

.active .share-button,
.share-button:hover {
  background-color: var(--active);
  transform: scale(1.03);
}

.social {
  position: absolute;
  list-style: none;
  transition: all 0.5s ease-in-out;
  display: grid;
  cursor: pointer;
  place-items: center;
  width: 60px;
  height: 60px;
  outline-offset: 3px;
}

.social svg {
  height: 32px;
  width: 32px;
  transition: all 0.3s;
}

.social a {
  display: grid;
  cursor: pointer;
  place-items: center;
}

.social:hover svg {
  transform: scale(1.1);
}

.active .social:nth-child(1) {
  transform: translate(-92px, -30px);
}

/* .active .social:nth-child(2) {
  transform: translate(-20px, -82px);
} */

.active .social:nth-child(2) {
  transform: translate(0px, -30px);
}

.active .social:nth-child(3) {
  transform: translate(-42px, 32px);
}

@media only screen and (max-width: 768px) {
  .active .social:nth-child(1) {
    transform: translate(-60px, -30px);
  }
  /* .active .social:nth-child(2) {
    transform: translate(-20px, -72px);
  } */
  .active .social:nth-child(2) {
    transform: translate(16px, -30px);
  }
  .active .social:nth-child(3) {
    transform: translate(-20px, 12px);
  }
}
