.banner-swiper .swiper-pagination .swiper-pagination-bullet,
.banner-swiper-two .swiper-pagination .swiper-pagination-bullet {
  @apply bg-primary-light;
}
.banner-swiper .swiper-button-prev:after,
.banner-swiper .swiper-button-next:after,
.affiliate-swipe .swiper-button-next,
.affiliate-swipe .swiper-button-prev {
  font-size: x-large !important;
  color: #db4444;
}
.banner-swiper .swiper-button-next,
.banner-swiper .swiper-button-prev {
  width: 40px;
  height: 40px;
  border: 1px solid red;
  border-radius: 100%;
}

.category-swiper .swiper-button-prev:after,
.category-swiper .swiper-button-next:after {
  content: "" !important;
}
.single-swiper .swiper-wrapper {
  @apply h-auto;
}
